---
const {title} = Astro.props;
---
<html>
  <head>
    <title>Example Layout: {title}</title>
    <link rel="stylesheet" type="text/css" href={Astro.resolve("../styles/global.css")}>
  </head>
  <body>
    <!-- Adds a navigation bar to every page. -->
    <!-- <nav>
      <a href="#">Home</a>
      <a href="#">Posts</a>
      <a href="#">Contact</a>
    </nav> -->

    <div class="md:flex md:items-center md:justify-between">
      <div class="flex-1 min-w-0">
        <h2 class="text-2xl font-bold leading-7 text-gray-900 sm:text-3xl sm:truncate">
          Astro Lab 🚀
        </h2>
      </div>
      <div class="mt-4 flex md:mt-0 md:ml-4 space-x-3">
        <span>12345</span>
        <span>ABCDE</span>
      </div>
    </div>

    
    <!-- slot: your page content will be injected here. -->
    <slot />
  </body>
</html>